name: Release Package

on:
  release:
    types: [published]

  workflow_dispatch:

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install Library
        run: python -m pip install .
      - id: get_version
        uses: battila7/get-version-action@v2
      - name: Check version
        run: |
          LIBRARY_VERSION=$(pycov3 -v)
          GITHUB_VERSION=${{ steps.get_version.outputs.version-without-v }}
          if [[ $LIBRARY_VERSION == $GITHUB_VERSION ]]; then
            echo "Versions match, continuing..."
          else
            echo "Versions don't match, exiting..."
            echo "Library version: $LIBRARY_VERSION"
            echo "GitHub version: $GITHUB_VERSION"
            exit 1
          fi

  run-tests:
    uses: Ulthran/pycov3/.github/workflows/test.yml@main
    secrets: inherit
    needs: check-version

  build-and-publish-to-pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: run-tests

    environment:
      name: pypi
      url: https://pypi.org/p/pycov3/
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install build dependencies
      run: python -m pip install -U setuptools wheel build
    - name: Build
      run: python -m build .
    - name: Publish
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        skip-existing: true
  
  build-and-push-to-dockerhub:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: run-tests

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: chopmicrobiome/pycov3
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
